@{
    MvcMovie.Class.TMDBMovie movie = (MvcMovie.Class.TMDBMovie)ViewData["movie"];
}
<html>
  
  <head>
    <title>@movie.MovieTitle</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/MovieDetail.css">
  </head>
  <body>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
              <span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/HomePage/Index">MovieDB</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="/Community/Index">社区</a>
              </li>
              <li>
                <a href="/Home/MyView">我的</a>
              </li>
            </ul>
            <form class="navbar-form navbar-left" asp-controller="MovieSearch" asp-action="Index">
              <div class="form-group">
                <input type="text" class="form-control" name="SearchString"/>
              </div>
              <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li class="header-mypage">
                <a href="/Home/MyView"></a>
              </li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
    <div class='card'>
      <div class='card_left'>
        <img src='@MvcMovie.Class.TMDBImage.GetImageURL("original", movie.MovieBackdropPath)'>
      </div>
      <div class='card_right'>
        <!-- 电影名称 -->
        <h1>@movie.MovieTitle</h1>
        <div class='card_right__details'>
          <ul>
            <li>@movie.MovieReleaseDate</li>
            <li>@movie.MovieVoteAverage / 10</li>
            <li>
                @foreach (TMDbLib.Objects.General.Genre item in movie.MovieGenres) {
                  <span>@item.Name</span>
                }
            </li>
          </ul>
          <div class='card_right__review'>
            <!-- 电影介绍 -->
            <p>@movie.MovieOverview</p>
          </div>
          <div class='card_right__button'>
           <a asp-controller="MovieDetail" asp-action="CollectClick" asp-route-id="@movie.MovieId" onclick="collect">@ViewData["collection"]</a>  
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


